<div class="mobile-nav">
    <header class="mobile-nav__head">
        <a href="#" class="logo">
            <img src="./assets/img/Logo.svg" alt="Page title">
        </a>
        <a href="#" class="menu-toggle">
            <svg class="icon"><use xlink:href="assets/img/sprite.svg#close"></use></svg>
        </a>
    </header>
    <nav class="main-menu">
        <ul class="menu animate-elem">
            <li class="menu__item menu__item--has-children">
                <a href="#">Demos</a>
                <div class="sub-menu">
                    <ul class="menu menu--vertical">
                        <li class="menu__item">
                            <a href="#">Post Header</a>
                        </li>
                        <li class="menu__item">
                            <a href="#">Post Layout</a>
                        </li>
                        <li class="menu__item">
                            <a href="#">Share Buttons</a>
                        </li>
                        <li class="menu__item">
                            <a href="#">Gallery Post</a>
                        </li>
                        <li class="menu__item">
                            <a href="#">Video Post</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="menu__item menu__item--has-children">
                <a href="#">Post</a>
                <div class="sub-menu">
                    <ul class="menu menu--vertical">
                        <li class="menu__item">
                            <a href="#">Post Header</a>
                        </li>
                        <li class="menu__item">
                            <a href="#">Post Layout</a>
                        </li>
                        <li class="menu__item">
                            <a href="#">Share Buttons</a>
                        </li>
                        <li class="menu__item">
                            <a href="#">Gallery Post</a>
                        </li>
                        <li class="menu__item">
                            <a href="#">Video Post</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="menu__item menu__item--has-children menu__item--has-children">
                <a href="#">Features</a>

                <div class="sub-menu">
                    <ul class="menu menu--vertical">
                        <li class="menu__item">
                            <a href="#">Post Header</a>
                        </li>
                        <li class="menu__item">
                            <a href="#">Post Layout</a>
                        </li>
                        <li class="menu__item">
                            <a href="#">Share Buttons</a>
                        </li>
                        <li class="menu__item">
                            <a href="#">Gallery Post</a>
                        </li>
                        <li class="menu__item">
                            <a href="#">Video Post</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="menu__item menu__item--has-children">
                <a href="#">Categories</a>
                <div class="sub-menu">
                    <ul class="menu menu--vertical">
                        <li class="menu__item">
                            <a href="#">Post Header</a>
                        </li>
                        <li class="menu__item">
                            <a href="#">Post Layout</a>
                        </li>
                        <li class="menu__item">
                            <a href="#">Share Buttons</a>
                        </li>
                        <li class="menu__item">
                            <a href="#">Gallery Post</a>
                        </li>
                        <li class="menu__item">
                            <a href="#">Video Post</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="menu__item menu__item--has-children">
                <a href="#">Shop</a>
                <div class="sub-menu">
                    <ul class="menu menu--vertical">
                        <li class="menu__item">
                            <a href="#">Post Header</a>
                        </li>
                        <li class="menu__item">
                            <a href="#">Post Layout</a>
                        </li>
                        <li class="menu__item">
                            <a href="#">Share Buttons</a>
                        </li>
                        <li class="menu__item">
                            <a href="#">Gallery Post</a>
                        </li>
                        <li class="menu__item">
                            <a href="#">Video Post</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="menu__item">
                <a href="#">Buy Now</a>
            </li>
        </ul>
    </nav>
</div>

<header class="header">


</header>

<div class="header-top">
    <div class="container animate-elem">
        <div class="header-top__left">
            <a href="#" class="menu-toggle">
                <svg class="icon"><use xlink:href="assets/img/sprite.svg#menu"></use></svg>
            </a>
        </div>
        <a href="#" class="logo">
            <img src="./assets/img/Logo.svg" alt="Page title">
        </a>
        <div class="header-top__right">
            <form action="#" class="search-form">
                <input id="searchInput" type="search" class="search-form__input" placeholder="Search...">
                <label for="searchInput" class="search-form__icon"><svg class="icon"><use xlink:href="assets/img/sprite.svg#search"></use></svg></label>
            </form>
        </div>
    </div>
</div>

<nav class="header-nav main-menu">
    <ul class="menu animate-elem">
        <li class="menu__item menu__item--has-children">
            <a href="#">Demos</a>
            <div class="sub-menu">
                <ul class="menu menu--vertical">
                    <li class="menu__item">
                        <a href="#">Post Header</a>
                    </li>
                    <li class="menu__item">
                        <a href="#">Post Layout</a>
                    </li>
                    <li class="menu__item">
                        <a href="#">Share Buttons</a>
                    </li>
                    <li class="menu__item">
                        <a href="#">Gallery Post</a>
                    </li>
                    <li class="menu__item">
                        <a href="#">Video Post</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="menu__item menu__item--has-children">
            <a href="#">Post</a>
            <div class="sub-menu">
                <ul class="menu menu--vertical">
                    <li class="menu__item">
                        <a href="#">Post Header</a>
                    </li>
                    <li class="menu__item">
                        <a href="#">Post Layout</a>
                    </li>
                    <li class="menu__item">
                        <a href="#">Share Buttons</a>
                    </li>
                    <li class="menu__item">
                        <a href="#">Gallery Post</a>
                    </li>
                    <li class="menu__item">
                        <a href="#">Video Post</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="menu__item menu__item--has-children menu__item--has-children">
            <a href="#">Features</a>

            <div class="sub-menu">
                <ul class="menu menu--vertical">
                    <li class="menu__item">
                        <a href="#">Post Header</a>
                    </li>
                    <li class="menu__item">
                        <a href="#">Post Layout</a>
                    </li>
                    <li class="menu__item">
                        <a href="#">Share Buttons</a>
                    </li>
                    <li class="menu__item">
                        <a href="#">Gallery Post</a>
                    </li>
                    <li class="menu__item">
                        <a href="#">Video Post</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="menu__item menu__item--has-children">
            <a href="#">Categories</a>
            <div class="sub-menu">
                <ul class="menu menu--vertical">
                    <li class="menu__item">
                        <a href="#">Post Header</a>
                    </li>
                    <li class="menu__item">
                        <a href="#">Post Layout</a>
                    </li>
                    <li class="menu__item">
                        <a href="#">Share Buttons</a>
                    </li>
                    <li class="menu__item">
                        <a href="#">Gallery Post</a>
                    </li>
                    <li class="menu__item">
                        <a href="#">Video Post</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="menu__item menu__item--has-children">
            <a href="#">Shop</a>
            <div class="sub-menu">
                <ul class="menu menu--vertical">
                    <li class="menu__item">
                        <a href="#">Post Header</a>
                    </li>
                    <li class="menu__item">
                        <a href="#">Post Layout</a>
                    </li>
                    <li class="menu__item">
                        <a href="#">Share Buttons</a>
                    </li>
                    <li class="menu__item">
                        <a href="#">Gallery Post</a>
                    </li>
                    <li class="menu__item">
                        <a href="#">Video Post</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="menu__item">
            <a href="#">Buy Now</a>
        </li>
    </ul>
</nav>